# Loại bỏ thư mục tạm thời
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# Loại bỏ file Visual Studio
*.csproj
*.sln
*.userprefs
.vs/TestTTCS/FileContentIndex/bee5d83e-5aed-43a4-8bdd-e40f1c06a2d1.vsidx
.vs/TestTTCS/FileContentIndex/e37f7288-d7d5-4371-b39e-e7ab4445bf09.vsidx
